<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    {% assign mo = "now" | date: "%-m" | plus: 0 %}
                    {% assign fr_months = "janvier,février,mars,avril,mai,juin,juillet,août,septembre,octobre,novembre,décembre" | split: "," %}
                    <i>{% include i18n.html key="last_updated" %}
                        <span class="lang-en">{{ "now" | date: "%B %Y" }}</span><span class="lang-zh">{{ fr_months[mo | minus: 1] }} {{ "now" | date: "%Y" }}</span></i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    <span class="lang-en">{{ site.data.profile.footer_text }}</span>
                    <span class="lang-zh">{{ site.data.profile.footer_text_zh }}</span>
                </div>
            </div>
        </div>
    </div>
</footer>
