<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row">
                    {% if site.data.profile.show_portrait %}
                    <!-- mobile: centered round portrait above the name (the desktop figure is d-none below md) -->
                    <div class="col-12 d-md-none text-center mb-3">
                        <img src="{{ site.data.profile.portrait_url }}"
                             alt="Portrait of {{ site.data.profile.primary_name }}"
                             class="rounded-circle shadow-sm"
                             style="width: 128px; height: 128px; object-fit: cover;">
                    </div>
                    {% endif %}
                    <div class="col">
                        <div class="d-flex align-items-center flex-wrap">
                          <div>
                            <p class="h1 font-weight-normal lang-en mb-0">{{ site.data.profile.primary_name }}</p>
                            <p class="text-profile-position mb-0">
                                {% for position in site.data.profile.positions %}
                                <span class="lang-en">{{ position }}</span>

                                <br/>
                                {% endfor %}
                                {% if site.data.profile.cv_link %}
                                <a target="_blank" href="{{ site.data.profile.cv_link }}"><i class="fas fa-file-alt"></i> [{% include i18n.html key="cv" %}]</a> <br/>
                                {% endif %}
                            </p>
                          </div>
                          <img src="{{ '/assets/images/etc/france.svg' | relative_url }}" alt="Nancy, France" class="ml-4 d-none d-sm-block" width="134" height="130" loading="lazy" decoding="async" style="height: 130px; width: auto;">
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}">
                                    <i class="fas fa-envelope"></i> <span class="email-text">{{ site.data.profile.email }}</span>
                                </a>

                                {% if site.data.profile.gscholar %}
                                <a class="pr-3 no-break" target="_blank" href="https://scholar.google.com/citations?user={{ site.data.profile.gscholar }}&hl=en">
                                    <i class="fab fa-google"></i> <span class="lang-en">Google Scholar</span>
                                </a>
                                {% endif %}

                                {% if site.data.profile.sscholar %}
                                <a class="pr-3 no-break" target="_blank" href="https://www.semanticscholar.org/author/{{ site.data.profile.sscholar }}">
                                    <i class="fa fa-book"></i> <span class="lang-en">Semantic Scholar</span>
                                </a>
                                {% endif %}

                                {% if site.data.profile.openreview %}
                                <a class="pr-3 no-break" target="_blank" href="https://openreview.net/profile?id={{ site.data.profile.openreview }}">
                                    <i class="fas fa-comments"></i> <span class="lang-en">OpenReview</span>
                                </a>
                                {% endif %}

                                {% if site.data.profile.github %}
                                <a class="pr-3 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                                    <i class="fab fa-github"></i> <span class="lang-en">GitHub</span>
                                </a> 
                                {% endif %}

                                {% if site.data.profile.orcid %}
                                <a class="pr-3 no-break" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
                                    <i class="fab fa-orcid"></i> <span class="lang-en">ORCID</span>
                                </a>
                                {% endif %}

                                {% if site.data.profile.instagram %}
                                <a class="pr-3 no-break" target="_blank" href="https://www.instagram.com/{{ site.data.profile.instagram }}">
                                    <i class="fab fa-instagram"></i> <span class="lang-en">Instagram</span>
                                </a>
                                {% endif %}



                                {% if site.data.profile.x %}
                                <a class="pr-3 no-break" target="_blank" href="https://x.com/{{ site.data.profile.x }}">
                                    <i class="fab fa-twitter"></i> <span class="lang-en">X</span>
                                </a>
                                {% endif %}
                                {% if site.data.profile.facebook %}
                                <a class="pr-3 no-break" target="_blank" href="https://www.facebook.com/{{ site.data.profile.facebook }}">
                                    <i class="fab fa-facebook"></i> <span class="lang-en">Facebook</span>
                                </a>
                                {% endif %}
                                {% if site.data.profile.zhihu %}
                                <a class="pr-3 no-break" target="_blank" href="https://www.zhihu.com/people/{{ site.data.profile.zhihu }}">
                                    <i class="fab fa-zhihu"></i> <span class="lang-en">ZhiHu</span>
                                </a>
                                {% endif %}

                                {% if site.data.profile.resume %}
                                <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.resume | relative_url }}">
                                    <i class="fa fa-file"></i> <span class="lang-en">Resume</span>
                                </a>
                                {% endif %}

                                {% if site.data.profile.linkedin %}
                                <a class="pr-3 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                                    <i class="fab fa-linkedin"></i> <span class="lang-en">LinkedIn</span>
                                </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% if site.data.profile.show_portrait %}
                    <div class="col-md-auto d-none d-md-block">
                        <figure class="figure">
                            <img
                                id="portrait-img"
                                src="{{ site.data.profile.portrait_url }}"
                                alt="Portrait of {{ site.data.profile.primary_name }}"
                                class="figure-img img-fluid rounded-circle shadow-sm"
                                width="180" height="180" decoding="async"
                                style="width: 180px; height: 180px; object-fit: cover;"
                                title="Hello!"
                            >
                            <figcaption class="figure-caption text-right"></figcaption>
                        </figure>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>        
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row">
                    {% if site.data.profile.short_bio %}
                    <div class="col-md-12">
                        <div class="my-1">
                            <h6><i class="fas fa-id-card"></i> &nbsp; <span class="lang-en">Short bio</span></h6>
                            <div class="mx-2">
                                <span class="lang-en">{{ site.data.profile.short_bio }}</span>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

