{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> <span class="lang-en">Selected Recent Publications</span><span class="lang-fr">Publications récentes sélectionnées</span>{% endif %}
        <a href="publications">(<span class="lang-en">view all</span><span class="lang-fr">tout voir</span> <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item %}    
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="publications"><span class="lang-en">All publications</span><span class="lang-fr">Toutes les publications</span> <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>

